body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  text-align: center;
  width: 320px;
}

.login-container .logo {
  height: 100px;
  margin-bottom: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.login-container .logo img{
  height: 120px;
  width: 120px;
  object-fit: contain;
}

.login-container input {
  width: 85%;
  padding: 10px;
  margin: 8px 0 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background: #2575fc;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background: #1e5ed6;
}

a {
  display: inline-block;
  margin-top: 20px;
  color: #2575fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 10px;
}